$outerSpace: #2d3436;
$geyser: #dfe6e9;
$white: #fff;
$concrete: #f3f3f3;
$dustyGray: #999;
$alto: #dedede;
$capeCod: #3d4548;
$shamrock: #2ecc71;
$shamrockDark: #32dc7a;

$blackHalf: rgba(0,0,0,0.5);
$blackThird: rgba(0,0,0,0.3);

$outerSpaceDark: #fafafa;
$geyserDark: #718093;
$whiteDark: #2f3640;
$concreteDark: #353b48;
$dustyGrayDark: #999;
$altoDark: #677588;
$capeCodDark: #eceff0;
$shamrockDark: #2ecc71;
$shamrockDarkDark: #32dc7a;

$blackHalfDark: rgba(0,0,0,0.5);
$blackThirdDark: rgba(0,0,0,0.3);