@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
}

.btn {
  border: none;
  padding: 7px 14px;
  background-color: #2d3436;
  color: #fff;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
    background-color: #3d4548;
  }

  &.btn-icon,
  &.btn-link {
    padding: 0;
    color: #2d3436;
    background-color: transparent;

    &:hover {
      cursor: pointer;
      color: #3d4548;
    }
  }
}