@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13px;
}

body {
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
}

.btn {
  border: none;
  padding: 7px 14px;
  background-color: #2d3436;
  color: #fff;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
    background-color: #3d4548;
  }

  &.btn-icon,
  &.btn-link {
    font-weight: bold;
    padding: 0;
    color: #2d3436;
    background-color: transparent;

    &:hover {
      cursor: pointer;
      color: #3d4548;
    }
  }

  &.btn-icon-success {
    color: #2ecc71;

    &:hover {
      cursor: pointer;
      color: #32dc7a;
    }
  }

  &:disabled {
    pointer-events: none;
  }
}

.input {
  color: #2d3436;
  border: none;
  padding: 10px;
  background-color: #f3f3f3;
  border-radius: 30px;
  margin: 5px 0;

  &.dark {
    background-color: #dedede;
  }

  &:disabled {
    background-color: #dedede;
  }
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}